<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/charts']">Charts</mat-list-item>
      <mat-list-item [routerLink]="['/devices']">Devices</mat-list-item>
      <mat-list-item [routerLink]="['/roles']">Roles</mat-list-item>
      <mat-list-item [routerLink]="['/logout']">Abmelden</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">App</mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
